<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context.xsd">
  <context:component-scan base-package="org.example" />

  <bean id="electricity" class="org.example.system.Electricity"/>
  <bean id="waterPipes" class="org.example.system.WaterPipes"/>
  <bean id="pipeline" class="org.example.system.Pipeline"/>

  <bean id="city" class="org.example.locality.City">
    <constructor-arg ref="electricity"/>
    <constructor-arg ref="waterPipes"/>
    <constructor-arg ref="pipeline"/>
  </bean>
</beans>